@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



button:hover {
  background-color: #23527c;
}

button:active {
  background-color: #1c4564;
}

button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3e7e20;
  color: #fff;
  border: none;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  
 
}


  /* Modal Stili */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Modal İçeriği Stili */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  
  @keyframes typing {
    0% {
      content: "";
    }
    33% {
      content: ".";
    }
    66% {
      content: "..";
    }
    100% {
      content: "...";
    }
  }
  /* Bu stil sağ üst köşede bulunan menüyü tanımlar */
#menu {
  position: fixed; /* Sabit pozisyon */
  top: 20px; /* Sayfanın üstünden 20 piksel uzaklıkta */
  right: 20px; /* Sayfanın sağından 20 piksel uzaklıkta */
}

/* Bağlantıları stilize etmek için kullanabilirsiniz */
.menu-link {
  text-decoration:none; /* Bağlantı alt çizgisini kaldırır */
  color: #f5f5f5; /* Bağlantı metni rengi */
  margin-right: 20px; /* Bağlantılar arasındaki boşluk */
  padding: 1px 5px; /* Bağlantı içeriği ile kenar arasındaki boşluk */
  background-color: none; /* Arka plan rengi */
  border-radius: 10px; /* Kenar yuvarlaklığı */
}






  #cursorlar {
   
    
    display: inline-block;
  }

  .modal h2 {
    margin-top: 0;
  }

  
  .modal p {
    margin-bottom: 10px;
  }

  



  .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }

  .button:hover {
    background-color: #45a049;
  }

  .modal button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }


.loading-icon {
  display: none;
}
.loading-icon.show {
  display: inline-block;
}


img {
  max-width: 100%;
  height: auto;
}


.item {
  color: rgb(255, 0, 0);
  display: flex;
  align-items: flex-start;
}
.item span {
  margin-right: 5px;
  color: white;
}
.item span:first-child {
  margin-right: 5px;
}

.blink {
  animation: blink 1s infinite;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}
:root {
  --text-color: #00aa00;
}



body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #333;
  color: #ccc;
  font-size: 18px;
  width: 90%;
  margin: 0 auto; /* Sayfayı ortalamak için kullanılabilir */
  line-height: 1.6;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}
.social-button {
  display: inline-flex;
  padding: 20px;
  border: 25px ;
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  margin-right: 40px;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}
li a {
  color: red;
}

.discord-button {
  background-color: #7289DA;

}
#adad a {
  color: rgb(46, 182, 46);
}
.github-button {
  background-color: #171515;
}

.instagram-button {
  background-color: #c32aa3;
 
}
.social-button.google-button {
  position: relative;
  top: 0;
}



.social-button.google-button {
  background-color: red;
}

  


.social-button:hover {
  opacity: 0.8;
  transform: rotate(360deg);
  transition: transform 0.5s ease;
  margin-bottom: 12px;
}

h6 {

  text-align: center;
  text-decoration: underline;
  text-align-last: 19px;
   font-size: 30px;
   text-emphasis-color: red;
   color: #00aa00;
   

}
h2 {
  color: var(--text-color);
}

h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}




p {
  margin: 20px 0;
}

nav {
  width: 30%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  margin-bottom: 10px;
}

nav ul li {
  color: var(--text-color);
  cursor: pointer;
}
.small {
  color: red;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wb-body {
  background: #111;
  padding: 20px;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}
